!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='/apiexplorer/stylesheets/prettify.css')
        link(rel='stylesheet', href='/apiexplorer/stylesheets/style.css')
        link(rel='stylesheet', href='/apiexplorer/stylesheets/domcollapse.css')
        

    body
        !{body}
        div(id='io-footer')
           div(class='f-left') &copy;  
              a(href='http://mashery.com/io') Mashery, Inc.
           div(class='f-right') Powered by 
              a(href='https://github.com/mashery/iodocs') I/O Docs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/apiexplorer/javascripts/json2.js')
        script(src='/apiexplorer/javascripts/prettify.js')
        script(src='/apiexplorer/javascripts/utilities.js')
        script(src='/apiexplorer/javascripts/livedocs.js')
        script(src='/apiexplorer/javascripts/docs.js')
        script(src='/apiexplorer/javascripts/domcollapse.js')
